@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    overflow: hidden;
    margin: 0;
    font-family: Arial;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e3e5ff;
}
header {
    background-color: #e3e5ff;
    color: #fff;
    height: 120px;
    border-bottom: solid 3px #1b1e3d;
    box-shadow: 1px 1px 4px black;
}
#acm-container {
    background-color: #1b1e3d;
    color: #e3e5ff;
    display: inline-block;
    padding: 50px;
    margin: 0;
    height: 21px;
    width: 10%;
    text-align: center;
}
#acm-container span {
    position: relative;
    top: -23px;
    font-size: 60px;
    font-weight: 300;
}
#title-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#title-container span{
    position: relative;
    top: -164px;
    font-size: 30px;
    font-style: normal;
    color: #1b1e3d;
}
#card-symbol {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: #1b1e3d;
    border-radius: 20px;
    background-color: #e3e5ff;
    width: 100%;
}
#card-symbol span {
    font-size: 60px;
    padding: 30px;
    position: relative;
    top: -30px;
}
#rfid {
    position: absolute;
    top: 85%;
    right: 75%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
}
#pincode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#pincode h1 {
    font-size: 40px;
}
#pincode-placeholder {
    font-size: 100px;
    letter-spacing: 30px;
    border: solid 5px black;
    padding: 30px;
    background-color: #fff;
    width: 70%;
    text-align: center;
    border-radius: 100px;
}
.page {
    display: none;
}
.active {
    display: block;
}
#start {
    background-color: #1b1e3d;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #1b1e3d;
    font-size: 30px;
    padding: 10px;
    width: 30%;
    cursor: pointer;
}
#start:hover {
    background-color: #000;
    border: solid 2px #000;
}
#connect-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    font-size: 40px;
}
.left {
    position: absolute;
    top: 62%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.options-container {
    height: 100%;
}
.arrow-button-right {
    display: none;
    background-color: #fff;
    color: #000;
    position: absolute;
    right: 9.5%;
    transform: translateY(-24%);
    height: 8.2vh;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 35px;
    width: 7%;
    line-height: 66px;
}
.euro-img {
    width: 286.5px;
    height: 150px;
    margin-top: 10px;
}
.right {
    position: absolute;
    top: 62%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.options-title {
    position: relative;
    left: 37px;
}
#welcome-message {
    position: relative;
    left: 3%;
}
#back {
    position: absolute;
    left: 2%;
    bottom: 5%;
    width: 12%;
    height: 18%;
    font-size: 80px;
    border-radius: 40px;
    background-color: #1b1e3d;
    color: #e3e5ff;
    border: solid 1px #1b1e3d;
    box-shadow: 4px 4px 8px black;
}
#gegevens-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    width: 50%;
    height: 50vh;
    border-radius: 10px;
}
.text-gegevens {
    position: relative;
    left: 20px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
}
#gebruiker-gegevens {
    position: relative;
    left: 10px;
}
.kolom-naam {
    font-size: 28px;
}
#logo {
    width: 150px;
    height: 150px;
    position: relative;
    top: -53px;
    left: -10px;
}
.back-button {
    width: 10%;
    height: 15vh;
    background-color: #1b1e3d;
    color: #fff;
    font-size: 80px;
    position: absolute;
    bottom: 1%;
    left: 1%;
    border: solid 1px #1b1e3d;
    border-radius: 10px;
    cursor: pointer;
}
#geld-invoeren {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#geld-invoeren h1 {
    font-size: 40px;
}
#cash-placeholder {
    font-size: 100px;
    letter-spacing: 30px;
    border: solid 5px black;
    padding: 30px;
    background-color: #fff;
    width: 50%;
    text-align: left;
    border-radius: 100px;
}
#geld-combinatie-veld {
    text-align: center;
    width: 100%;
}
#receipt-option-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
#receipt-option-title {
    position: relative;
    top: -15vh;
    font-size: 50px;
}
.receipt-option-btn {
    position: relative;
    top: 150px;
    background-color: #1b1e3d;
    color: #fff;
    font-size: 40px;
    border: solid 1px #1b1e3d;
    border-radius: 20px;
    width: 20%;
    height: 10vh;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
    cursor: pointer;
}
#receipt-option-ja {
    right: -25%;
}
#receipt-option-nee {
    left: -25%;
}
.loader {
    width: 15px;
    aspect-ratio: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(4);
    transform-origin: center;
    color: #1b1e3d;
}
#dispense-wait-container {
    text-align: center;
}
#dispense-wait-container h1 {
    font-size: 50px;
}
.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #1b1e3d;;
}
.loader::before {
    box-shadow: -25px 0;
    animation: l8-1 1s infinite linear;
}
.loader::after {
    transform: rotate(0deg) translateX(25px);
    animation: l8-2 1s infinite linear;
}  
@keyframes l8-1 {
    100%{transform: translateX(25px)}
}
@keyframes l8-2 {
    100%{transform: rotate(-180deg) translateX(25px)}
}
#transaction-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border: solid 2px black;
    border-radius: 5px;
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    font-family: "Overpass", sans-serif; 
}
.transaction-div {
    width: 100%;
    border-bottom: solid 1px black;
    position: relative;
    padding: 5px;
}
.transaction-div p {
    position: relative;
    top: 10px;
    left: 10px;
    line-height: 4px;
    font-size: 20px;
}
#transaction-container h2 {
    position: relative;
    left: 10px;
}
#receipt-wait-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#receipt-title {
    font-size: 50px;
}
#receipt-icon {
    font-size: 230px;
    padding: 0;
    margin: 0;
    color: #1b1e3d;
}
.flags {
    width: 64px;
    height: 64px;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
}
#flag-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.left-options-container {
    width: 30%;
    position: absolute;
    left: 5%;
    top: 62.5%;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}
.right-options-container {
    width: 30%;
    position: absolute;
    right: 10%;
    top: 62.5%;
    transform: translateY(-50%);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}
.btn {
    background-color: #1b1e3d;
    border: solid 1px #1b1e3d;
    color: #fff;
    border-radius: 8px;
    margin: 30px;
    width: 100%;
    height: 10vh;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin-top: 0;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
}
.btn2 {
    text-align: right;
    padding-right: 10%;
    background-color: #1b1e3d;
    border: solid 1px #1b1e3d;
    color: #fff;
    border-radius: 8px;
    margin: 30px;
    width: 100%;
    height: 10vh;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    display: block;
    margin-top: 0;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
    cursor: not-allowed;
}