.strongColor {
    -fx-background-color: #3A3A3A;
}
.button {
    -fx-background-color: #6C6C6C;
    -fx-text-fill: #F2F2F2;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.combo-box {
    -fx-background-color: #6C6C6C;
    -fx-text-fill: #F2F2F2;
    -fx-font-weight: bold;
}
.combo-box .text {
    -fx-text-fill: #F2F2F2;
    -fx-font-weight: bold;
}